// ОСНОВНОЙ ФАЙЛ С МИКСИНАМИ СТИЛЕЙ, ИСПОЛЬЗУЮТСЯ ВЕЗДЕ НА САЙТЕ 

// СТАНДАРТНЫЙ ОРАНЖЕВЫЙ ГРАДИЕНТ
@mixin h1-gradient{
    h1{
        // background: -webkit-linear-gradient(315deg,#fc3b22, $color-orange-white);
        background-image: linear-gradient(90deg, #fc3b22, $color-orange-white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@mixin h2-gradient{
    h2{
        background-image: linear-gradient(90deg, #fc3b22, $color-orange-white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@mixin h3-gradient{
    h3{
        background-image: linear-gradient(90deg, #fc3b22, $color-orange-white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// СИНИЙ ГРАДИЕНТ ДЛЯ ОСОБЫХ СЛУЧАЕВ :)
@mixin h1-gradient-blue{
    h1{
        background-image: linear-gradient(90deg, #0568c4, rgba(44, 187, 223, 0.967));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@mixin h2-gradient-blue{
    h2{
        background-image: linear-gradient(90deg, #0568c4, rgba(44, 187, 223, 0.967));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
// Иконки
// Если какие-то свойства игнорируются на каких-то иконках, то обратись
// в папку components/UI/icons. вероятно какая-то иконка имеет уникалные св-ва
@mixin icon-size{
    .icon{
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        top: -3px;
        left: -4px;
        fill: $color-orange-white;
        .btn-mobile-nav{
            width: 40px;
            height: 40px;
        }
    }
    .btn:hover .icon{
        fill: white;
    }
}

// Иконки для мобильной версии

