// ФАЙЛ С ПЕРЕМЕННЫМИ СТИЛЕЙ. ОСНОВНЫЕ УНИКАЛЬНЫЕ ЦВЕТА И ДРУГИЕ ДАННЫЕ

$color-orange-white: rgb(253, 148, 11);
$or-wh-txt: rgb(215, 124, 5);
$input-color: rgb(176, 103, 8);
$background-gr: linear-gradient(to right, #fc3b22, $color-orange-white);

$radius: 20px;
$border: 1px solid $color-orange-white;
$shadow: 1px 1px 10px black;
